[submodule "jsk_travis"]
	path = jsk_travis
	url = https://github.com/jsk-ros-pkg/jsk_travis.git
[submodule "vision_opencv"]
	path = vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
